@import url(../fonts/Roboto/stylesheet.css);
@import url(../fonts/icomoon/style.css);
@import url(../libs/bootstrap/css/bootstrap.css);
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInLeft {
  -webkit-animation: fadeInLeft 1.5s ease-in-out;
  -moz-animation: fadeInLeft 1.5s ease-in-out;
  animation: fadeInLeft 1.5s ease-in-out; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInRight {
  -webkit-animation: fadeInRight 1.5s ease-in-out;
  -moz-animation: fadeInRight 1.5s ease-in-out;
  animation: fadeInRight 1.5s ease-in-out; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
.fadeInUp {
  -webkit-animation: fadeInUp 1.5s ease-in-out;
  -moz-animation: fadeInUp 1.5s ease-in-out;
  animation: fadeInUp 1.5s ease-in-out; }

.-color-primary {
  color: #5FC4E6; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: 'Roboto', sans-serif;
  color: #0F2851;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  --header-height:92px; }
  @media (max-width: 991px) {
    body {
      --header-height:78px; } }

a, a:hover {
  color: #4D4D4D;
  text-decoration: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a {
  outline: none; }

strong {
  font-weight: 700; }

/* Slider */
.slickfix .slick-list {
  margin: 0 -50px; }

.slickfix .slick-slide {
  margin: 0 50px; }

/**/
.dnfix__thumb {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  padding-top: 68.075%; }

.dnfix__thumb img {
  margin: 0px auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover; }

.dnfix__thumb.-contain img {
  object-fit: contain; }

.dnfix__thumb {
  transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .dnfix__thumb img {
    transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Text truncate */
.text__truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.text__truncate.-n2 {
  -webkit-line-clamp: 2; }

.text__truncate.-n3 {
  -webkit-line-clamp: 3; }

.text__truncate.-n4 {
  -webkit-line-clamp: 4; }

/**/
br.tb {
  display: none; }
@media (max-width: 991px) {
  br.pc {
    display: none; } }
@media (min-width: 768px) and (max-width: 1199px) {
  br.tb {
    display: block; } }
@media (min-width: 992px) {
  br.tbl {
    display: none; } }
@media (min-width: 768px) {
  br.mbt {
    display: none; } }
@media (min-width: 576px) {
  br.mb {
    display: none; } }

/**/
.btn {
  position: relative;
  min-width: 180px;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  transition: all .5s; }
  .btn:hover {
    color: #fff; }
    .btn:hover:hover {
      transform: translateY(-5px); }

.back-to-top {
  position: absolute;
  top: -90px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  font-size: 24px;
  color: #05D9A3;
  line-height: 60px;
  border-radius: 50%;
  background: linear-gradient(164.77deg, #2E3734 -15.3%, #17181D 79.97%);
  opacity: 0.8;
  border: 1px solid #05D9A3;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all .5s; }
  .back-to-top:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e;
    transform: translateY(-5px); }
  @media (max-width: 767px) {
    .back-to-top {
      top: -60px;
      right: 15px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px; } }

@media (max-width: 767px) {
  .container-sm, .container {
    max-width: 100%; } }
@media (min-width: 992px) {
  .g-lg-40, .gx-lg-40 {
    --bs-gutter-x: 2.5rem; } }
@media (min-width: 1400px) {
  .row {
    --bs-gutter-x: 2.5rem; }

  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1304px; } }
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ECECEC; }
  .header.is-sticky {
    position: fixed;
    animation: stuckMoveDown .6s; }
  .header .logo {
    margin-bottom: 0;
    transition: opacity .5s; }
    .header .logo img {
      max-height: 50px; }
  @media (max-width: 991px) {
    .header {
      padding: 15px 0 15px; }
      .header .logo {
        flex-grow: 1;
        text-align: center; }
        .header .logo img {
          max-height: 40px; } }

@keyframes stuckMoveDown {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
.footer-newsletter {
  padding: 48px 0;
  color: #fff;
  background: url(../img/footer-newsletter.png) no-repeat;
  background-size: cover; }
  .footer-newsletter .el__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .footer-newsletter .el__excerpt {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF; }
  .footer-newsletter form {
    position: relative;
    max-width: 560px; }
    .footer-newsletter form input {
      padding: 12px 10px;
      border-radius: 0;
      border: 0; }
    .footer-newsletter form .input-submit {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 240px;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      background: #E54A35;
      border-radius: 1px;
      transition: all .5s; }
      .footer-newsletter form .input-submit:hover {
        background: #0F2851; }

.copyright {
  margin-bottom: 24px; }

.footer__socical {
  display: flex;
  justify-content: center;
  line-height: 0; }
  .footer__socical li {
    position: relative;
    transition: all .5s; }
    .footer__socical li:not(:last-child) {
      margin-right: 16px; }
    .footer__socical li img {
      width: 40px;
      height: 40px; }
    .footer__socical li:hover {
      transform: translateY(-5px); }

.footer {
  padding: 30px 0 30px;
  color: #fff;
  background: #0F2851; }
  .footer a {
    color: #1081E8; }
    .footer a:hover {
      text-decoration: underline; }

@media (max-width: 1399px) {
  .footer-newsletter .el__excerpt {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF; } }
@media (max-width: 1199px) {
  .footer-newsletter form .input-submit {
    min-width: 180px; }

  .footer-newsletter .el__title {
    font-size: 34px; }

  .footer-newsletter .el__excerpt {
    font-size: 14px; } }
@media (max-width: 575px) {
  .footer-newsletter {
    padding: 30px 0; }
    .footer-newsletter .el__title {
      font-size: 30px; } }
/*
======================================
[ Main menu ]
======================================
*/
.main__nav {
  position: relative;
  z-index: 9;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  transition: opacity .5s; }
  .main__nav:after {
    content: "";
    display: table;
    clear: both; }
  .main__nav .sc__wrap {
    position: relative;
    z-index: 9999;
    width: 100%; }
  .main__nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .main__nav a {
    color: #0F2851;
    transition: all 0.3s; }
  .main__nav .el__menu {
    padding: 0px 0;
    background: none; }
    .main__nav .el__menu:after {
      content: "";
      display: table;
      clear: both; }
    .main__nav .el__menu > li {
      position: relative;
      display: inline-block;
      padding: 0 10px; }
      .main__nav .el__menu > li.menu-item-has-children > a:after {
        content: "\e907";
        font-family: 'icomoon';
        font-size: 5px;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-weight: 400; }
      .main__nav .el__menu > li > a {
        position: relative;
        padding: 30px 10px;
        display: block; }
    .main__nav .el__menu > li:hover a, .main__nav .el__menu > li.active a, .main__nav .el__menu .current_page_parent a, .main__nav .el__menu .current-menu-parent a {
      color: #1081E8; }
    .main__nav .el__menu .menu-item-has-children:hover a:before {
      display: none; }
    .main__nav .el__menu li:hover > .sub-menu {
      display: block;
      opacity: 1;
      visibility: visible; }
    .main__nav .el__menu .sub-menu {
      position: absolute;
      width: 205px;
      z-index: 99;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 300ms linear;
      left: 0px;
      top: 100%;
      text-align: left;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      overflow: hidden; }
      .main__nav .el__menu .sub-menu li {
        position: relative;
        line-height: 20px;
        padding: 13px 15px; }
        .main__nav .el__menu .sub-menu li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        .main__nav .el__menu .sub-menu li:hover {
          background-color: #192651; }
          .main__nav .el__menu .sub-menu li:hover > a {
            color: #fff; }
        .main__nav .el__menu .sub-menu li a {
          color: #192651; }
      .main__nav .el__menu .sub-menu .sub-menu {
        top: 0;
        left: 100%; }

/*Menu custom*/
.modal-open {
  overflow: hidden; }

.nav__mobile {
  display: block;
  position: fixed;
  top: var(--header-height);
  height: 100%;
  left: -414px;
  width: 414px;
  opacity: 0;
  transition: all .25s;
  z-index: 999;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  overflow: auto;
  background-image: url(../img/menu-bg-mb.png);
  background-size: cover; }
  .nav__mobile--close {
    position: relative;
    top: 2px; }
  .nav__mobile__header {
    display: flex;
    align-items: center;
    margin-bottom: 50px; }
    .nav__mobile__header > img {
      max-height: 37px; }
  .nav__mobile__content {
    position: relative;
    overflow-y: auto;
    padding: 24px 0;
    height: calc(100% - var(--header-height)); }
  .nav__mobile.active {
    left: 0;
    opacity: 1;
    pointer-events: auto; }
  .nav__mobile .nav__mobile--ul {
    list-style: none;
    padding: 5px 0;
    margin: 0 0 20px; }
    .nav__mobile .nav__mobile--ul li {
      position: relative;
      margin-bottom: 10px; }
      .nav__mobile .nav__mobile--ul li a {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        padding: 15px 50px 15px 24px;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: all .5s; }
        .nav__mobile .nav__mobile--ul li a:hover {
          color: #5FC4E6; }
      .nav__mobile .nav__mobile--ul li.active > a, .nav__mobile .nav__mobile--ul li.current-menu-item > a, .nav__mobile .nav__mobile--ul li.current_page_item > a, .nav__mobile .nav__mobile--ul li:hover > a {
        color: #fff;
        border-color: #fff; }
  @media (max-width: 575px) {
    .nav__mobile {
      width: 100%; } }

/**/
/**/
.menu-mb__btn {
  display: block;
  width: 38px;
  height: 24px; }

.menu-mb__btn .iconz-bar {
  width: 38px;
  transition: all 0.2s;
  background-color: #0F2851;
  display: block;
  height: 4px;
  border-radius: 5px; }

.menu-mb__btn .iconz-bar + .iconz-bar {
  margin-top: 7px; }

.menu-mb__btn.active .iconz-bar:nth-of-type(1) {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 15% 0;
  -webkit-transform-origin: 15% 0;
  transform-origin: 15% 0; }

.menu-mb__btn .iconz-bar:nth-of-type(1) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

.menu-mb__btn.active .iconz-bar:nth-of-type(2) {
  opacity: 0; }

.menu-mb__btn.active .iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 0;
  -webkit-transform-origin: 0;
  transform-origin: 0; }

.menu-mb__btn.iconz-bar:nth-of-type(3) {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0); }

/**/
.languages {
  position: relative;
  display: inline-block; }
  .languages img, .languages span {
    display: inline-block;
    vertical-align: middle; }
  .languages img {
    width: 34px;
    height: 24px; }
  .languages span {
    margin-left: 7px; }
  .languages .languages-item {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 3px 25px 3px 3px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; }
    .languages .languages-item:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      background: url(../img/arrow-down.svg) no-repeat;
      width: 13px;
      height: 8px;
      background-size: contain; }
    .languages .languages-item:hover {
      background-color: #ededed; }
  .languages ul {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    width: 40px;
    transform-origin: top;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    opacity: 0;
    display: block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .languages ul.dropdown-languages {
    visibility: visible;
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    opacity: 1; }
  .languages ul li {
    display: block;
    padding: 3px 3px;
    color: #1A1C25;
    cursor: pointer;
    transition: 0.3s; }
  .languages ul li + li {
    border-top: 1px solid #cccccc; }
  .languages ul li:hover, .languages ul li.active {
    background-color: #feec8f;
    color: #ffffff; }

/**/
.qtranslate__box {
  position: relative; }

.qtranslate__current {
  cursor: pointer;
  border: 1px solid #dfdfdf;
  padding: 5px; }

.qtranslate__content, .wpml-ls-statics-shortcode_actions {
  position: absolute;
  top: 36px;
  left: 0;
  visibility: hidden;
  width: 100%;
  padding: 0;
  text-align: center;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-top-width: 0;
  border-top-width: 0;
  opacity: 0;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }

.qtranslate__box img {
  width: 36px;
  height: 24px; }

.qtranslate__content .item__flag, .wpml-ls-statics-shortcode_actions li {
  padding: 4px 0 4px !important;
  border-bottom: 1px solid #dfdfdf;
  display: block !important; }

.qtranslate__content.show, .wpml-ls-statics-shortcode_actions.show {
  opacity: 1;
  visibility: inherit; }

@media (max-width: 991.98px) {
  .qtranslate__current {
    border: 0; }

  .qtranslate__content, .wpml-ls-statics-shortcode_actions {
    top: 30px;
    border-top-width: 1px; }

  .qtranslate__box img {
    width: 30px;
    height: 20px; } }
.qtranslate__box .wpml-ls-native, .qtranslate__box .wpml-ls-display {
  display: none; }

.qtranslate__box .wpml-ls-legacy-list-horizontal a {
  padding: 0; }

.sc__header__title {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  color: #0F2851;
  margin-bottom: 40px; }
.sc__header__excerpt {
  max-width: 1060px;
  margin: 0 auto 48px;
  font-size: 18px;
  line-height: 28px; }
  .sc__header__excerpt p:not(:last-child) {
    margin-bottom: 30px; }
@media (max-width: 767px) {
  .sc__header__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 24px; }
  .sc__header__excerpt {
    font-size: 16px;
    line-height: 24px; } }

.sc__readmore {
  position: relative;
  min-width: 175px;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 11px 15px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(271.12deg, #1081E7 0%, #0E6CC3 100%);
  border: 1px solid transparent;
  overflow: hidden; }
  .sc__readmore:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
    z-index: 1; }
  .sc__readmore:after {
    background: #E54A35;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg); }
  .sc__readmore:hover:after {
    height: 450%; }
  .sc__readmore.-large {
    min-width: 290px; }
  .sc__readmore span {
    position: relative;
    z-index: 2; }
  .sc__readmore:hover {
    color: #FFFFFF; }

.ef--border {
  --border-color: #FFB901;
  position: relative; }
  .ef--border::before, .ef--border::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
    transition: all .7s; }
  .ef--border::before {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transform: scale3d(0, 1, 1);
    z-index: 1; }
  .ef--border::after {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    transform: scale3d(1, 0, 1); }
  .ef--border:hover::before, .ef--border:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s; }

.ef--zoomin .dnfix__thumb img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.ef--zoomin:hover .dnfix__thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.new__item {
  position: relative;
  padding: 16px 16px;
  margin-bottom: 48px;
  background: #F8F8F8;
  border: 1px solid transparent;
  transition: all .5s; }
  .new__item a {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #0F2851; }
  .new__item__thumb {
    margin-bottom: 24px; }
  .new__item .dnfix__thumb {
    padding-top: 56%; }
  .new__item__author {
    margin-bottom: 24px; }
  .new__item__title {
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 8px; }
  .new__item__excerpt {
    margin-bottom: 30px; }
  .new__item__readmore {
    color: #E54A35; }
  .new__item:hover {
    box-shadow: 0px 0px 10px #ccc; }
  @media (max-width: 1199px) {
    .new__item__title {
      font-weight: 300;
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 8px; } }
  @media (max-width: 991px) {
    .new__item a {
      font-size: 16px;
      line-height: 24px; }
    .new__item__title {
      font-size: 24px;
      line-height: 32px; }
    .new__item__author {
      font-size: 16px;
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .new__item {
      margin-bottom: 24px; } }
  @media (max-width: 575px) {
    .new__item__title {
      font-size: 22px; } }

.video__item {
  position: relative;
  margin-bottom: 40px;
  transition: all .5s; }
  .video__item .dnfix__thumb {
    padding-top: 52%; }
  .video__item--play {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    width: 72px;
    height: 72px;
    background: url(../img/play-circle-line.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    transition: all .5s; }
  .video__item:hover {
    box-shadow: 0px 0px 10px #ccc; }
    .video__item:hover .video__item--play {
      transform: scale(1.1); }
  @media (max-width: 991px) {
    .video__item--play {
      top: calc(50% - 30px);
      left: calc(50% - 30px);
      width: 60px;
      height: 60px; } }
  @media (max-width: 575px) {
    .video__item {
      margin-bottom: 24px; } }

.paging-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #05D9A3; }
  .paging-navigation .pagination .page-numbers {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    line-height: 29px;
    border-radius: 50%;
    color: #05D9A3;
    border: 1px solid transparent;
    text-align: center;
    transition: all .5s;
    opacity: 0.4; }
    .paging-navigation .pagination .page-numbers.current, .paging-navigation .pagination .page-numbers:hover {
      border-color: #05D9A3;
      opacity: 1; }
    .paging-navigation .pagination .page-numbers.prev, .paging-navigation .pagination .page-numbers.next {
      line-height: 30px;
      opacity: 1; }

.dn__breadcrumb a, .dn__breadcrumb span {
  color: #9A9A9A; }
.dn__breadcrumb > span:last-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A; }

.js-loadmore {
  position: relative; }
  .js-loadmore:before {
    content: '';
    position: absolute;
    top: 8px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: url(../img/loading.png) no-repeat;
    background-size: contain;
    opacity: 0;
    z-index: 2;
    transition: all .5s; }
  .js-loadmore.active {
    pointer-events: none; }
    .js-loadmore.active:before {
      opacity: 1;
      animation: spinner-rotate 5s infinite linear; }

@keyframes spinner-btn {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spinner-rotate {
  to {
    transform: rotate(360deg); } }
.home-banner .el__thumb {
  min-height: 280px;
  padding-top: 25%;
  background-size: cover;
  background-position: center; }
.home-about {
  padding: 60px 0;
  background: #F8F8F8; }
  .home-about .el__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #0F2851;
    margin-bottom: 80px; }
  .home-about .el__excerpt {
    font-size: 18px;
    line-height: 28px; }
    .home-about .el__excerpt p:not(:last-child) {
      margin-bottom: 30px; }
.home-value {
  padding: 60px 0; }
  .home-value .el__item {
    margin-bottom: 50px; }
    .home-value .el__item__title {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #1081E8;
      margin-bottom: 10px; }
      .home-value .el__item__title img {
        height: 40px;
        width: 40px;
        margin-right: 15px; }
.home-performance {
  padding: 60px 0;
  background: #F8F8F8; }
  .home-performance .el__item {
    width: 100%;
    padding: 16px 16px;
    text-align: center;
    background: #EFEFEF;
    margin-bottom: 50px; }
    .home-performance .el__item__prefix {
      margin-bottom: 16px;
      height: 40px; }
      .home-performance .el__item__prefix img {
        max-height: 40px; }
    .home-performance .el__item__number {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      color: #1081E8;
      margin-bottom: 10px; }
    .home-performance .el__item__excerpt {
      font-size: 18px;
      line-height: 28px;
      color: #898989; }
.home-text {
  padding: 60px 0; }
@media (max-width: 1399px) {
  .home-performance .el__item__excerpt {
    font-size: 16px;
    line-height: 26px; } }
@media (max-width: 991px) {
  .home-banner .el__thumb {
    background-position: 60% center; }
  .home-about .el__title {
    font-size: 28px;
    margin-bottom: 60px; } }
@media (max-width: 767px) {
  .home-about .el__title {
    font-size: 24px;
    margin-bottom: 24px; }
  .home-about .el__excerpt {
    font-size: 16px;
    line-height: 24px; } }
@media (max-width: 575px) {
  .home-about {
    padding: 30px 0; }
  .home-value {
    padding: 30px 0; }
    .home-value .el__item {
      margin-bottom: 30px; }
  .home-performance {
    padding: 40px 0 30px; }
    .home-performance .el__item {
      margin-bottom: 24px; }
  .home-text {
    padding: 30px 0; } }

.about-intro {
  padding: 60px 0; }
  .about-intro .el__thumb {
    margin-bottom: 60px; }
  .about-intro .dnfix__thumb {
    padding-top: 44%;
    min-height: 280px; }
  .about-intro .el__excerpt {
    font-size: 18px;
    line-height: 28px; }
    .about-intro .el__excerpt p:not(:last-child) {
      margin-bottom: 30px; }
.about-value {
  position: relative;
  padding: 60px 0 36px;
  background: #F8F8F8; }
  .about-value:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 37%;
    height: 50%;
    background: url(../img/about-values.png) no-repeat;
    background-size: contain;
    background-position: top left;
    pointer-events: none; }
  .about-value .el__title {
    padding: 25px 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    background: #08569C;
    margin-bottom: 25px; }
  .about-value .el__item {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #143672;
    padding: 25px 30px;
    margin-bottom: 25px;
    background: #84AACE; }
    .about-value .el__item h4 {
      font-weight: 300;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF; }
    .about-value .el__item p {
      margin-top: 20px; }
.about-media {
  padding: 60px 0 10px; }
  .about-media .el__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 40px; }
  .about-media .el__item {
    width: 100%;
    padding: 16px 16px;
    margin-bottom: 50px;
    background: #F8F8F8;
    transition: all .5s; }
    .about-media .el__item:hover {
      box-shadow: 0px 0px 10px #ccc; }
    .about-media .el__item a {
      display: flex;
      flex-direction: column;
      height: 100%;
      font-size: 18px;
      line-height: 28px;
      color: #0F2851; }
    .about-media .el__item__thumb {
      margin-bottom: 25px; }
    .about-media .el__item__title {
      font-weight: 300;
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 24px; }
    .about-media .el__item__excerpt {
      margin-top: auto; }
    .about-media .el__item__readmore {
      color: #E54A35; }
.about-partners {
  padding: 60px 0 60px;
  background: #F8F8F8; }
  .about-partners-slider .slick-dots li {
    margin: 0px 10px; }
  .about-partners-slider .slick-arrow {
    top: calc(50% - 15px);
    --arrow: 15px;
    border-radius: 50%;
    background: #ffffff;
    color: #17181d;
    opacity: 1;
    transition: all .5s; }
  .about-partners-slider .slick-arrow:hover {
    box-shadow: 0px 0px 10px 2px #0ba47e; }
  .about-partners .el__item {
    width: 100%; }
    .about-partners .el__item a {
      font-size: 18px;
      line-height: 28px;
      color: #0F2851; }
    .about-partners .el__item .dnfix__thumb {
      padding-top: 100%; }
    .about-partners .el__item__thumb {
      margin-bottom: 25px; }
    .about-partners .el__item__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #0F2851;
      margin-bottom: 15px; }
.about-team {
  padding: 60px 0 35px; }
  .about-team .el__item {
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 28px;
    transition: all .5s; }
    .about-team .el__item:hover .el__item__thumb {
      box-shadow: 0px 0px 0px 10px #1091ee; }
    .about-team .el__item .dnfix__thumb {
      padding-top: 100%; }
    .about-team .el__item__thumb {
      margin: 0 auto 25px;
      border-radius: 50%;
      overflow: hidden;
      transition: all .5s; }
    .about-team .el__item__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #0F2851;
      text-align: center;
      margin-bottom: 8px; }
    .about-team .el__item__sub {
      text-align: center;
      margin-bottom: 8px; }
    .about-team .el__item__socical {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
      line-height: 0; }
      .about-team .el__item__socical li {
        position: relative;
        transition: all .5s; }
        .about-team .el__item__socical li:not(:last-child) {
          margin-right: 16px; }
        .about-team .el__item__socical li img {
          width: 56px;
          height: 56px; }
        .about-team .el__item__socical li:hover {
          transform: translateY(-5px); }
.about-contact {
  padding: 60px 0 35px;
  background: #F8F8F8; }
  .about-contact .el__item {
    padding: 30px 30px;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0F2851;
    background: #fff; }
    .about-contact .el__item__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      color: #E54A35;
      margin-bottom: 24px; }
    .about-contact .el__item li:not(:last-child) {
      margin-bottom: 16px; }
    .about-contact .el__item span {
      color: #C4C4C4; }
@media (max-width: 1399px) {
  .about-value .el__item h4 {
    font-size: 28px;
    line-height: 1.2; }
  .about-value .el__title {
    font-size: 28px;
    line-height: 1.2; }
  .about-media .el__item__title {
    font-size: 28px;
    line-height: 1.2; }
  .about-partners .el__item__title {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 10px; }
  .about-partners .el__item a {
    font-size: 16px;
    line-height: 1.4; }
  .about-contact .el__item__title {
    font-size: 28px;
    line-height: 1.2; }
  .about-contact .el__item {
    font-size: 18px;
    line-height: 1.4; } }
@media (max-width: 1199px) {
  .about-contact .el__item {
    font-size: 16px; } }
@media (max-width: 991px) {
  .about-team .el__item__thumb {
    max-width: 260px; } }
@media (max-width: 767px) {
  .about-intro .el__excerpt {
    font-size: 16px;
    line-height: 24px; }
  .about-value .el__title {
    font-size: 24px; }
  .about-value .el__item h4 {
    font-size: 24px; }
  .about-media .el__item {
    margin-bottom: 24px; }
  .about-media .el__item__title {
    font-size: 24px;
    margin-bottom: 16px; } }
@media (max-width: 575px) {
  .about-partners .el__item {
    max-width: 290px; }
  .about-partners .slick-list {
    margin: 0 0; }
  .about-intro {
    padding: 0 0 30px; }
    .about-intro .el__thumb {
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem);
      margin-bottom: 30px; }
  .about-value .el__item {
    padding: 16px 16px;
    margin-bottom: 16px;
    text-align: center; }
  .about-media {
    padding: 30px 0 10px; }
    .about-media .el__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 24px; }
    .about-media .el__item__thumb {
      margin-bottom: 16px; }
  .about-partners {
    padding: 30px 0 30px; }
  .about-team {
    padding: 30px 0 5px; }
    .about-team .el__item {
      max-width: 400px;
      margin: 0 auto 25px; }
  .about-contact {
    padding: 30px 0 5px; }
    .about-contact .el__item {
      padding: 16px 16px; }
    .about-contact .el__item__title {
      font-size: 24px; } }

.page__contact {
  padding: 60px 0; }
  .page__contact .el__thumb {
    margin-bottom: 60px; }
  .page__contact .dnfix__thumb {
    padding-top: 44%;
    min-height: 280px; }
  .page__contact .el__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0F2851;
    margin-bottom: 24px; }
  .page__contact .el__excerpt {
    margin-bottom: 30px; }
  .page__contact .wpcf7-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    transition: all .5s; }
    .page__contact .wpcf7-form__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 50px;
      text-align: center; }
    .page__contact .wpcf7-form p {
      font-size: 14px;
      line-height: 22px;
      color: #0F2851; }
    .page__contact .wpcf7-form input, .page__contact .wpcf7-form textarea {
      margin-bottom: 24px;
      border-radius: 0;
      background: #FAFAFA; }
    .page__contact .wpcf7-form .wpcf7-submit {
      min-width: 290px;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 10px;
      margin-bottom: 0;
      color: #fff;
      background: linear-gradient(271.12deg, #1081E7 0%, #0E6CC3 100%);
      border: 1px solid transparent;
      transition: all .5s; }
      .page__contact .wpcf7-form .wpcf7-submit:hover {
        box-shadow: 0px 0px 10px #0f7bdd; }
  .page__contact .el2__item {
    padding: 30px 30px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0F2851;
    background: #fff;
    border: 1px solid #EFEFEF; }
    .page__contact .el2__item__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
      color: #E54A35;
      margin-bottom: 24px; }
    .page__contact .el2__item li:not(:last-child) {
      margin-bottom: 16px; }
    .page__contact .el2__item span {
      color: #C4C4C4; }
  @media (max-width: 1399px) {
    .page__contact .el2__item {
      font-size: 18px;
      line-height: 28px; } }
  @media (max-width: 991px) {
    .page__contact .wpcf7-form {
      margin-bottom: 30px; } }
  @media (max-width: 575px) {
    .page__contact {
      padding: 0 0 5px; }
      .page__contact .el__thumb {
        margin-right: var(--bs-gutter-x, -0.75rem);
        margin-left: var(--bs-gutter-x, -0.75rem);
        margin-bottom: 24px; }
      .page__contact .el2__item {
        padding: 16px; }
        .page__contact .el2__item__title {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 25px; } }

.fund-intro {
  padding: 60px 0 35px; }
  .fund-intro .el__thumb {
    margin-bottom: 60px; }
    .fund-intro .el__thumb .dnfix__thumb {
      padding-top: 44%;
      min-height: 280px; }
  .fund-intro .el__sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px; }
  .fund-intro .el__excerpt {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 60px; }
    .fund-intro .el__excerpt p:not(:last-child) {
      margin-bottom: 30px; }
  .fund-intro .el__item {
    width: 100%;
    padding: 16px 16px;
    border: 1px solid #E4E4E4;
    transition: all .5s;
    margin-bottom: 25px; }
    .fund-intro .el__item:hover {
      box-shadow: 0px 0px 10px #ccc; }
    .fund-intro .el__item .dnfix__thumb {
      max-width: 48px;
      padding-top: 48px;
      margin: 0 auto 8px; }
    .fund-intro .el__item__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #1081E8;
      margin-bottom: 16px; }
    .fund-intro .el__item ul {
      list-style: disc;
      padding-left: 17px; }
      .fund-intro .el__item ul li {
        margin-bottom: 5px; }
.fund-investment {
  padding: 60px 0 35px;
  background: #F8F8F8; }
  .fund-investment .el__item {
    padding: 16px 16px;
    border: 1px solid #E4E4E4;
    transition: all .5s;
    margin-bottom: 25px; }
    .fund-investment .el__item:hover {
      background: #fff;
      box-shadow: 0px 0px 10px #ccc; }
    .fund-investment .el__item .dnfix__thumb {
      max-width: 48px;
      padding-top: 48px;
      margin: 0 auto 8px; }
    .fund-investment .el__item__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #1081E8;
      margin-bottom: 16px; }
    .fund-investment .el__item ul {
      list-style: disc;
      padding-left: 17px; }
      .fund-investment .el__item ul li {
        margin-bottom: 5px; }
.fund-performance {
  background: #fff; }
  .fund-performance .el__content {
    font-size: 18px;
    line-height: 28px; }
    .fund-performance .el__content p {
      margin-bottom: 48px; }
    .fund-performance .el__content h3 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 48px; }
    .fund-performance .el__content img {
      margin-bottom: 48px; }
.fund-solution {
  padding: 60px 0;
  color: #fff;
  background: url(../img/footer-newsletter.png) no-repeat;
  background-size: cover; }
  .fund-solution .sc__header__title {
    color: #FFFFFF; }
.fund-how {
  background: #fff; }
.fund-faq {
  padding: 60px 0;
  position: relative;
  background: #F8F8F8; }
  .fund-faq:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: url(../img/fund-faq.png) no-repeat;
    background-size: contain;
    background-position: top left;
    pointer-events: none; }
  .fund-faq .accordion-item {
    margin-bottom: 15px; }
  .fund-faq .el__item {
    margin-bottom: 40px; }
    .fund-faq .el__item__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #0F2851;
      margin-bottom: 16px; }
@media (max-width: 1399px) {
  .fund-faq:before {
    width: 300px;
    height: 300px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .fund-intro .col-lg-3 {
    width: 50%; } }
@media (max-width: 575px) {
  .fund-intro {
    padding: 0 0 5px; }
    .fund-intro .el__thumb {
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem);
      margin-bottom: 30px; }
    .fund-intro .el__sub {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 16px; }
  .fund-investment {
    padding: 30px 0 5px; }
  .fund-performance {
    padding: 30px 0 0; }
    .fund-performance .el__content img, .fund-performance .el__content h3, .fund-performance .el__content p {
      font-size: 18px;
      margin-bottom: 30px; }
  .fund-solution {
    padding: 30px 0;
    background-image: url(../img/footer-newsletter-mb.jpg); }
  .fund-faq {
    padding: 30px 0; }
    .fund-faq:before {
      width: 160px;
      height: 160px; }
    .fund-faq .el__item {
      margin-bottom: 24px; } }

.insights-intro {
  padding: 60px 0; }
  .insights-intro .el__thumb {
    margin-bottom: 60px; }
    .insights-intro .el__thumb .dnfix__thumb {
      padding-top: 44%;
      min-height: 280px; }
.insights-crypto {
  padding: 60px 0 35px;
  background: #F8F8F8; }
  .insights-crypto .el__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    color: #0F2851;
    margin-bottom: 40px; }
  .insights-crypto .el__item {
    margin-bottom: 60px; }
    .insights-crypto .el__item__title {
      font-weight: 300;
      font-size: 30px;
      line-height: 32px;
      color: #0F2851;
      margin-bottom: 16px; }
    .insights-crypto .el__item__excerpt p + p {
      margin-top: 30px; }
  .insights-crypto .el2__item {
    margin-bottom: 25px; }
    .insights-crypto .el2__item__title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: #0F2851;
      margin-bottom: 24px; }
@media (max-width: 1199px) {
  .insights-crypto .el2__item__title {
    font-size: 16px; } }
@media (max-width: 767px) {
  .insights-crypto .el__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px; }
  .insights-crypto .el__item {
    margin-bottom: 24px; }
  .insights-crypto .el__item__title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px; } }
@media (max-width: 575px) {
  .insights-intro {
    padding: 0 0 14px; }
    .insights-intro .el__thumb {
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem);
      margin-bottom: 30px; }
  .insights-crypto {
    padding: 30px 0 5px; } }

.single__wrap {
  position: relative;
  padding: 60px 0; }
  @media (max-width: 575px) {
    .single__wrap {
      padding: 0 0 30px; } }

.single__content {
  margin-bottom: 50px; }
  .single__content .single__thumb {
    margin-bottom: 60px; }
    .single__content .single__thumb img {
      min-height: 280px; }
  .single__content h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #0F2851;
    margin-bottom: 40px; }
  @media (max-width: 1399px) {
    .single__content h1 {
      font-size: 36px;
      line-height: 43px; } }
  @media (max-width: 767px) {
    .single__content h1 {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 16px; } }
  @media (max-width: 575px) {
    .single__content .single__thumb {
      margin-right: var(--bs-gutter-x, -0.75rem);
      margin-left: var(--bs-gutter-x, -0.75rem);
      margin-bottom: 24px; } }

/*
======================================
[ Editor Style ]
======================================
*/
.entry-content h2, .entry-content h3, .entry-content h4 {
  margin-bottom: 1rem; }

.entry-content h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px; }

.entry-content p {
  margin-bottom: 20px; }

.entry-content .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content img, .entry-content figure.wp-caption {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; }

.entry-content address p, .entry-content address p {
  margin-bottom: 5px; }

.entry-content a {
  color: black;
  text-decoration: underline;
  font-weight: 500; }

.entry-content figcaption {
  width: 100%;
  text-align: center; }

.entry-content img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

.entry-content img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

.entry-content img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-content ul {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 10px; }

.entry-content:after {
  content: '';
  clear: both;
  display: table; }

table {
  width: 100%;
  margin-bottom: 1rem; }

table td, table th {
  border: 1px solid #737476; }

table td, table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #737476; }

@media (max-width: 767px) {
  .single__header {
    padding-bottom: 40px; }

  .single-content h1 {
    font-size: 20px;
    line-height: 30px;
    text-align: left; }

  .single-content .single__date {
    text-align: left; }

  .single-content .el__header {
    margin-bottom: 30px; } }

/*# sourceMappingURL=main.css.map */
