/**/
.languages{
    position:relative;
    display:inline-block;
    img, span{display:inline-block;vertical-align:middle;}
    img{width:34px;height:24px;}
    span{margin-left:7px;}

    .languages-item{
        position:relative;
        left:0px;top:0px;
        padding:3px 25px 3px 3px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        cursor:pointer;transition:0.3s;
        &:before{
            content:'';position:absolute;top:50%;right:6px;transform:translateY(-50%);
            background:url(../img/arrow-down.svg) no-repeat;width:13px;height:8px;background-size:contain;
        }
        &:hover{background-color:#ededed;}
    }
    ul{
        position:absolute;top:105%;left:0;right:0;background-color:#ffffff;
        width: 40px;
        transform-origin:top;transform:rotateX(90deg);-webkit-transform:rotateX(90deg);
        opacity:0;display:block;-webkit-transition:all 0.5s;transition:all 0.5s;
    }
    ul.dropdown-languages{visibility:visible;transform:rotateY(0);-webkit-transform:rotateY(0);opacity:1;}
    ul li{display:block;

        padding:3px 3px;color:#1A1C25;cursor:pointer;transition:0.3s;}
    ul li + li{border-top:1px solid #cccccc;}
    ul li:hover, ul li.active{background-color:#ededed;color:#ffffff;}
}





.sc__header{
    &__title{
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: 38px;
        line-height: 45px;
        color: #0F2851;
        margin-bottom: 40px;
    }
    &__excerpt{
        max-width: 1060px;
        margin: 0 auto 48px;
    }
    @media (max-width: 575px){

        &__title {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 16px;
        }
    }

}
.sc__readmore{
    position: relative;
    min-width: 175px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 15px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(271.12deg, #1081E7 0%, #0E6CC3 100%);
    border: 1px solid transparent;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
        z-index: 1;
    }
    &:after {
        background: #E54A35;
        -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
            transform: translateX(-50%) translateY(-50%) rotate(25deg);
        }
        &:hover:after{
        height: 450%;
    }
    span{
        position: relative;
        z-index: 2;
    }

    &:hover{
        color: #FFFFFF;
    }
}
// Effect border
.ef--border{
    --border-color: #FFB901;
    position: relative;
    &::before, &::after{
        box-sizing:border-box;content:'';position:absolute;top:0;left:0;height:100%;width:100%;transform-origin:center;
        transition: all .7s;
    }
    &::before{
        border-top:1px solid var(--border-color);border-bottom:1px solid var(--border-color);transform:scale3d(0,1,1);z-index:1;
    }
    &::after{
        border-left:1px solid var(--border-color);border-right:1px solid var(--border-color);transform:scale3d(1,0,1)
    }
    &:hover::before,&:hover::after{transform:scale3d(1,1,1);transition:transform 0.5s}
}

.page__header{
    position: relative;
    margin-top: var(--header-height);
    padding: 75px 0;
    text-align: center;
    background:url(../img/page-header-bg.jpg) no-repeat;
    background-size:cover;
    .entry-title{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        background: -webkit-linear-gradient(45deg, #FFB901, #EB8D00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @media (max-width: 991px){
        padding:50px 0;
    }
}
.archive__content{
    position: relative;
    padding:100px 0;
    min-height: 750px;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: -10%;
        right: 0;
        width: 48%;
        height: 50%;
        background: url(../img/page-bg-top.png) no-repeat;
        background-size: contain;
        background-position: top right;
        pointer-events:none;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 45%;
        height: 60%;
        background: url(../img/page-bg-bottom.png) no-repeat;
        background-size: contain;
        background-position: bottom left;
        pointer-events:none;
    }

    .container{
        position: relative;
        z-index: 1;
    }
    .sc__header{
        margin-bottom: 60px;
    }

    .empty-content{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 26px;
        line-height: 24px;
        color: #47504C;
        padding: 100px 0;
        text-align: center;
    }
    @media (max-width: 991px){
        padding:80px 0;
    }
    @media (max-width: 575px){
        padding:40px 0;
    }
}

.new__item{
    position: relative;
    padding:20px 20px 30px;
    margin-bottom: 30px;
    background: #1B1C22;
    border:1px solid transparent;
    transition: all .5s;
    a{
        position: relative;
        z-index: 1;
        display: block;
    }
    &__thumb{
        margin-bottom: 20px;
    }
    &__date{
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #05D9A3;
        margin-bottom: 10px;
    }
    &__title{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &:hover{
        background: #212527;
    }

}

//paging-navigation
.paging-navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #05D9A3;
    .pagination{
        .page-numbers{
            width: 30px;
            height: 30px;
            margin: 0 4px;
            line-height: 29px;
            border-radius: 50%;
            color: #05D9A3;
            border: 1px solid transparent;
            text-align: center;
            transition: all .5s;
            opacity: 0.4;

            &.current, &:hover{
                border-color: #05D9A3;
                opacity: 1;
            }

            &.prev, &.next{
                line-height:30px;
                opacity: 1;
            }
        }

    }
}

.dn__breadcrumb{

    a, span{
        color: #9A9A9A;
    }
    >span:last-child{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #9A9A9A;
    }
}